<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script lang="javascript" src="dist/xlsx.full.min.js"></script> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Roulette</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <header>
        <img class = "header-image" src="/images/Header.jpg" alt="">
        <div>

    </div>
    </header>
    
    <main class="main-content">
        <div class="movie-selection">
            <div class="image-frame">
                <img class="attribute-image" data-image-role="image" src="<%= movie.link %>" alt="<%= movie.title %>">
                <div class="button-panel">
                    <button onclick="Generate()" class="generate-button" id="generate-button">Generate Movie</button>
                    <div class="custom-select" style="width:160px;">
                        <!-- <button onclick="showDropdownElements()" class="dropbtn">Select Genre</button> -->
                        <!-- <div class="custom-select" style="width:160px;"> -->
                            <select onchange="saveSelection(this.value)" id="genreDropdown">
                                <option value="Select">Select genre:</option>
                                <option value="All">All</option>
                                <option value="Action">Action</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Animation">Animation</option>
                                <option value="Biography">Biography</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Crime">Crime</option>
                                <option value="Drama">Drama</option>
                                <option value="Family">Family</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Horror">Horror</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Sport">Sport</option>
                                <option value="Thriller">Thriller</option>
                                <option value="War">War</option>
                                <option value="Western">Western</option>
                            </select>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="attributes-frame">
                <div class="movie-title" id="title"><%= movie.title %></div>
                <div class="other-attribute" data-image-role="rating"><b>Rating:</b> <%= movie.rating %></div>
                <div class="other-attribute" data-image-role="genre"><b>Genre:</b> <%= movie.genre %></div>
                <div class="other-attribute" data-image-role="length"><b>Length:</b> <%= movie.length_ %></div>
                <div class="other-attribute" data-image-role="plot"><b>Plot Summary:</b> <%= movie.plot %></div>
                <div class="other-attribute" data-image-role="director"><b>Director:</b> <%= movie.director %></div>
                <div class="other-attribute" data-image-role="actors"><b>Actors:</b> <%= movie.actors %></div> 
            </div>
        </div>
    </main>

    <script type="text/javascript" src="scripts/script.js"></script>
    <script type="script" src="/server/server.js"></script>

</body>
</html>